body{

	margin: 0;
	padding:0;
	background-color: transparent;
background-image: url("../images/cloud.jpg");
background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
	

} 
@media (min-width: @screen-sm-min) { ....  }
@media (min-width: @screen-md-min){...}
@media (min-width: @screen-lg-min){....}



.pointer a h1{

	font-family: fantasy;
	text-align: center;
	align-items: center;
	color: solid red;
}
.pointer a h1:hover{
	cursor: pointer;
	color: black;
}
.icon{

	font-size: 80px;
	margin: 20px auto;
	padding: 20px;
	height: 90px;
	width: 90px;
	border-left:  2px solid black;
	border-radius: 70%;
}
.icon p{
	text-align: center;
	align-items: center;
}
.p{
	font-family: sans-serif;
	font-size: medium;
	color: solid white;
}
.pointer p {
	color: white;
	text-align: center;
	align-items: center;
	}
	.pointer h1{
		color: white;
		text-align: center;
	align-items: center;
	}
	.pointer h2{
		 color: white;
		text-align: center;
	align-items: center;
	}
	.pointer h3{
		color: white;
		text-align: center;
	align-items: center;
	}
	.pointer li a h1{
		color: red;
		text-align: center;
	align-items: center;
	}
.pointer li a h1:hover{
	cursor: pointer;
	color: black;
}
